datasets>=2.19.0,<4.0.0
huggingface_hub>=0.23.0
tqdm>=4.66.0
pandas>=2.0.0
pyarrow>=14.0.0
langcodes
language_data 
unicodedataplus
python-dotenv

torch>=2.1.0
transformers>=4.37.0,<5.0.0
accelerate>=0.27.0
safetensors>=0.4.0
sentencepiece>=0.1.99
numpy>=1.24.0
matplotlib
matplotlib-venn
sacrebleu